<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSMnqQAsEAFWKEUNkI6drU9OWmWLPQhik</string>
	<key>GCM_SENDER_ID</key>
	<string>569443145529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marvela</string>
	<key>PROJECT_ID</key>
	<string>marvela-by-obotu</string>
	<key>STORAGE_BUCKET</key>
	<string>marvela-by-obotu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569443145529:ios:45a739ab27f5f291d83ae8</string>
</dict>
</plist>